body {
    margin: 0px;
    background: url('img/bg_new.png');
    background-size:100vw 100vh;
    background-repeat: repeat;
    font-family: "neue-haas-grotesk-text", sans-serif !important;
    color: #0016C1 !important;
}
p{
    margin-bottom: 40px !important;
}

.selectionDiv{
    width:93vw;
    margin: 0px auto;
}


.nav{ font-size: 2vw;color: #000000 }

#logo{
    width:400px;
    fill:#0016C1;
    width: 100%;
}


.infoTitle{
    font-size: 3vw;
}
.infoContent{
    font-size: 2vw;
    line-height: 2.5vw;
}

.btnInfo{
    border: 4px solid #0016C1;
    font-size: 2vw;
    text-align: center;
    padding: 1vw 2vw;
}

.col-info{
    font-size: 1.8vw;
    color: #000;
    line-height: 2vw;
}

.footer {
    height: 100%;
    border-top: solid 4px #fff;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 160px;
    color: #ffffff;
}

.footer a{
    color: #ffffff;
}

.footer-column {
    width: 13vw;
}

.footer-column-lg {
    width: 29vw;
}

.footer span, .footer span a {
    display: block;
    font-size: 30px;
    line-height: 30px;
}

.footer-link {
    cursor: pointer;
}

.footer-link:hover, .footer span a:hover {
    color: #C6E6FF;
}

.email {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #fff 4px;
    padding-bottom: 10px;
    align-items: center;
}

.mt40{
    margin-top: 40px;
}


.nav a{
    color: #000;
    text-decoration: none;
}

.nav a:hover{
    color: #000;
    text-decoration: underline;
}





.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid
{
    border: 4px solid #000000;
    webkit-box-shadow:none;
    box-shadow:none;
}

.custom-select.is-invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus{
    border: 4px solid #000000;
    webkit-box-shadow:none;
    box-shadow:none;
}


.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid{
    border: 4px solid #000000;
    webkit-box-shadow:none;
    box-shadow:none;
}

.custom-select.is-valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus{
    border: 4px solid #000000;
    webkit-box-shadow:none;
    box-shadow:none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000000 !important;
}


.form-control, .form-control:focus{
    border: 4px solid #000000;
    border-radius: 0px;
    font-size: 30px;
    color: #000000;
    webkit-box-shadow:none;
    box-shadow:none;
}


.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid{
    border-color:#000000;
}


.form-group label{
    font-size: 30px;
    color: #000000;
}

.primary-text {
    color: #000000;
    font-size: 60px;
}


select{
    height: 65px !important;
}

.ItemBtn{
    border: 4px solid #000000;
    width: 217px;
    height: 67px;
    border-radius: 0px;
    font-size: 30px;
    background-color: #ffffff;
}

.modal-body p{
    margin-bottom: 20px !important;
}


.m-t-10{
   margin-top: 10px;
 }